img[src*=gif] {
  visibility: hidden;
}

img[src*=gif].gif-delayer-loaded {
  visibility: visible;
}

.gif-delayer-loading {
  margin: 10px;
  font-size: 12px;
  line-height: 24px;
}

.gif-delayer-loading:after {

  display: inline-block;
  content: '';
  cursor: wait;

  position: relative;
  top: 3px;

  border-radius: 10px;
  border: 2px solid #000;
  border-top: 2px solid rgba(0,0,0,0);
  border-left: 2px solid rgba(0,0,0,0);
  width: 10px;
  height: 10px;

  animation: loading .4s infinite linear;
  -moz-animation: loading .4s infinite linear;
  -webkit-animation: loading .4s infinite linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}